<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
       <title>Covid-19 <%=NewCity%></title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="stylesheet" href="css/stylecity.css">
     <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Patua+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <p id="cityName" style="display:none"><%= City %><p>
      <div class="container-fluid p-1 bg-light text-center my-3">
        <h1 style="margin-bottom: -5px">Covid-19 Tracker</h1>
        <p style="margin-bottom: 10px">Stay Home! Stay Safe!</p>
      </div>
    <div id="heading">
        <h1><%= NewCity %></h1>
    </div>
    <div id="country">
       <div class="container my-3">
         <div class="row text-center">
           <div class="col-" id="smallt">
            <div class="container" id="cases">
                <div class="row-1 text-center" id="cnfrow">
                  <div class="col-auto text-warning" id="ppc">
                  <h5 id="cnfh">Total Confirmed</h5>
                  <span id="confirmed"></span>
                  </div>
                </div>
                <div class="row-1 text-center" id="roward">
                <div class="col-auto text-info" id="ppa">
                  <h5 id="replacea">Active</h5>
                  <span id="active" ></span>
                </div>
                <div class="col-auto text-success" id="ppr">
                  <h5 id="replacer">Recoverd</h5>
                  <span id="recovered"></span>
                 </div>
                <div class="col-auto text-danger" id="ppd">
                  <h5 id="replaced">Deaths</h5>
                  <span id="deaths"></span>
                </div>
                </div>
            </div>
          </div>
          <div class="col-" id="smallc">
             <canvas id="myChart"></canvas>
           </div>
        </div>
      </div>
    </div>


<div id="bye">

</div>
<div class="container-fluid bg-light text-center my-3">
  <p><strong>Stay Home! Stay Safe!</strong></p>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="script/srptcity.js"></script>

  </body>
</html>
