#firstAni{
  animation : move 1s 2s ease-in-out forwards;
}
#heading h1{
   animation : move 1s 2.7s ease-in-out forwards;
}
#country{
  animation : move 1s 3s ease-in-out forwards;

}
table{
  animation : move 1s 3.5s ease-in-out forwards;
}
@keyframes move{
    100%{
        opacity: 100%;
        margin-top: 0px;
    }
}
