#firstAni{
  animation : move 1s 0.5s ease-in-out forwards;
}
#heading h1{
   animation : move 1s 0.7s ease-in-out forwards;
}
#country{
  animation : move 1s 0.9s ease-in-out forwards;

}
table{
  animation : move 1s 1.1s ease-in-out forwards;
}
#end{
  animation : move 1s 1.3s ease-in-out forwards;
}

@media only screen and (max-width: 992px) {
  #firstAni{
    animation : move 1s 0.5s ease-in-out forwards;
  }
  #heading h1{
     animation : move 1s 0.7s ease-in-out forwards;
  }
  #country{
    animation : move 1s 0.9s ease-in-out forwards;

  }
  table{
    animation : move 1s 1.1s ease-in-out forwards;
  }
  #end{
    animation : move 1s 1.3s ease-in-out forwards;
  }

}

@keyframes move{
    100%{
        opacity: 100%;
        margin-top: 0px;
    }
}
