body{
  font-family: 'Baloo Chettan 2', sans-serif;
}
#countryData{
  width: 45%;
  text-align: center;
  vertical-align: middle;
}
#heading{
  width: 60%;
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  font-family: 'Patua One', cursive;
}

#countryName{
  font-size: 50px;
}
#country{
  width: 90%;
  margin: 0px auto;
}
#smallc{
  width: 50%;
}
#smallt{
  width: 40%;
  margin: 10px 40px;
}
#cases{
  width: 75%;
  margin: auto;
}

#ppc{
  padding: 4px 0px;
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 10px;
}

#cnfrow{
 padding: 0px;
  text-align: center;
}
#roward{
  width: 100%;
  margin: auto;
}
#ppa{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px 0px;
  /* margin-right: 4px; */
  background-color: rgba(0, 255, 255, 0.2);
}
#ppr{
  /* border-radius: 6px; */
  /* margin-right: 4px; */
  padding: 4px 0px;
  background-color: rgba(0, 255, 0, 0.2);
}
#ppd{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 4px 0px;
  background-color: rgba(255, 0, 0, 0.2);
}


#bye{
   width: 600px;
   margin: auto;
   margin-bottom: 50px;
}

.headr div{
  text-align: center;
}

.hello{
  width: 100%;
}
#totalConf{
  text-align: center;
}
.custom-switch{
    text-align: right;
}
#tbd{
    cursor: pointer;
}
#trow:hover{

  background-color: #e8e8e8;
}
table{
  border: 0px;
}


@media only screen and (max-width: 1000px) {
  #bye{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
  }
  #smallc,#smallt{
    width: 100%;
    padding-bottom: 20px;
  }
}
