body{
  font-family: 'Baloo Chettan 2', sans-serif;
  font-size: 18px;
}
#firstAni{
  opacity: 0%;
  margin-top: 20px;
}
#countryrow{
  vertical-align: middle;
}
/* #countryData{
  width: 45%;
  text-align: center;
  vertical-align: middle;
} */
#heading{
  text-align: center;
  padding: 0px;
  font-family: 'Patua One', cursive;
}
#heading h1{
  opacity: 0%;
  margin-top: 30px;
}

#countryName{
  font-size: 50px;
}
#country{
  opacity: 0%;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
#smallt,#smallc{
  padding: 20px 20px;
}
/* #smallt{
  width: 40%;
  margin: 10px 40px;
} */
/* #cases{
  width: 75%;
  margin: auto;
} */
#casehead{
  position: absolute;
  top: 35%;
  left: 10%;
  font-weight: 600;
}
#active,#confirmed,#recovered,#deaths{
    position: absolute;
    top: 35%;
    left: 70%;
    font-weight: 600;
}
.colon{
  position: absolute;
  top: 35%;
  left: 60%;
  font-weight: 600;
}
#ppc{
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 10px;
  height: 80px;

}

#cnfrow{
 padding: 0px;
  text-align: center;
}
#roward{
  width: 100%;
  margin: auto;
}
#ppa{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgba(0, 255, 255, 0.2);
  height: 80px;
}
#ppr{
  background-color: rgba(0, 255, 0, 0.2);
  height: 80px;
}
#ppd{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba(255, 0, 0, 0.2);
  height: 80px;
}


#bye{
  width: 700px;
   margin: auto;
   margin-bottom: 50px;
}


#tbds{
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    /* width: 300px; */
}
#tbdd{
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}
#trow:hover{
  background-color: #e8e8e8;
}
table{
  opacity: 0%;
  border: 0px;
  margin-top: 30px;
}

a{
  display: block;
  /* border: 1px solid black; */
}
#end{
  opacity: 0%;
}

@media only screen and (max-width: 992px) {
  #body{
    font-size: 40px;
  }
  #firstAni{
    opacity: 0%;
    margin-top: 20px;
  }
  #heading h1{
    opacity: 0%;
    margin-top: 30px;
    font-size: 60px;
  }

  #country{
    opacity: 0%;
    margin-top: 30px;
    width: 90%;
    margin: 50px auto;
  }

  #ppa,#ppc,#ppr,#ppd{
    height: 150px;
  }
  #casehead{
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 50px;
    font-weight: 600;
  }
  #active,#confirmed,#recovered,#deaths{
      position: absolute;
      top: 30%;
      left: 70%;
      font-size: 50px;
      font-weight: 600;
  }
  .colon{
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 50px;
    font-weight: 600;
  }
  #bye{
    width: 90%;
    margin: auto;
    max-width: 990px;
    overflow-x: scroll;
    margin-bottom: 50px;
  }
  table{
    opacity: 0%;
    border: 0px;
    margin-top: 30px;
    text-align: center;
  }
  #tbds{
    height: 120px;
    min-width: 420px;
    text-align: left;
    vertical-align: middle;
  }
  #tbdd{
    height: 120px;
    min-width: 350px;
    text-align: center;
    vertical-align: middle;
    padding-left: 20px;
  }
  #end{
    opacity: 0%;
  }

  #smallc,#smallt{
    width: 80%;
    padding-bottom: 20px;
  }

}
